:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);

  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 1.5rem;
  background-color: var(--yellow);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 380px;
  padding: 1.5rem;
  border: solid 1px var(--gray-950);
  border-radius: 20px;
  background-color: var(--white);
  box-shadow: 8px 8px var(--gray-950);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card__img {
  width: 100%;
  border-radius: 10px;
}

.card__body {
  color: var(--gray-950);
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.75rem;
}

.card__tag {
  padding: 4px 12px;
  border-radius: 0.25rem;
  font-weight: 800;
  font-size: 14px;
  background-color: var(--yellow);
}

.card__published {
  font-size: 14px;
  font-weight: 500;
}

.card__title {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 150%;
}

.card__title:hover {
  color: var(--yellow);
  cursor: pointer;
}

.card__description {
  color: var(--gray-500);
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
}

.author {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.75rem;
}

.author > img {
  height: 32px;
  width: 32px;
}

.author__name {
  font-size: 14px;
  font-weight: 800;
}

.attribution {
  font-size: 1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
